.status-Applied {
    background-color: #bbdefb;
}

.status-InterviewScheduled {
    background-color: #ffe082;
}

.status-Rejected {
    background-color: #ef9a9a;
}

.status-Accepted {
    background-color: #a5d6a7;
}

.status-OnHold {
    background-color: #90caf9;
}

.status-FollowUp {
    background-color: #80deea;
}
