@using JobJournal.Data.Enums
@model JobInfo

@{
    ViewData["Title"] = "Edit Job Application";
}

<h2>Edit Job Application</h2>

<div class="row">
    <div class="col-md">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="userId" />

            <div class="form-group mb-2">
                <label asp-for="companyName">Company Name <span class="required-star">*</span></label>
                <input asp-for="companyName" class="form-control" />
                <span asp-validation-for="companyName" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="role">Role <span class="required-star">*</span></label>
                <input asp-for="role" class="form-control" />
                <span asp-validation-for="role" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="jobSummary">Job Summary <span class="required-star">*</span></label>
                <textarea asp-for="jobSummary" class="form-control"></textarea>
                <span asp-validation-for="jobSummary" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="applicationStatus">Status <span class="required-star">*</span></label>
                <select asp-for="applicationStatus" asp-items="Html.GetEnumSelectList<ApplicationStatus>()" class="form-control form-select"></select>
                <span asp-validation-for="applicationStatus" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="appliedVia">Applied Via <span class="required-star">*</span></label>
                <select asp-for="appliedVia" asp-items="Html.GetEnumSelectList<AppliedVia>()" class="form-control form-select"></select>
                <span asp-validation-for="appliedVia" class="text-danger"></span>
            </div>

            <div class="form-group col-md-3 mb-2">
                <label>Update Time <span class="required-star">*</span></label>
                <input asp-for="appliedTime" type="date" class="form-control" />
                <span asp-validation-for="appliedTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="notes">Notes</label>
                <textarea asp-for="notes" class="form-control"></textarea>
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>

            <div class="my-4 mb-5">
                <button type="submit" class="btn btn-primary btn-md me-2">Save Changes</button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-md">Cancel</a>
            </div>
        </form>
    </div>
</div>



@if (TempData["JobEditFailedMessage"] != null)
{
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">

            @if (TempData["JobEditFailedMessage"] != null)
            {
                <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                    <div class="d-flex">
                        <div class="toast-body">
                            @TempData["JobEditFailedMessage"]
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }

        </div>
    </div>

}
