@using JobJournal.Data.Enums
@model JobInfo

@{
    ViewData["Title"] = "Edit Job Application";
}

<h2>Edit Job Application</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="id" />
    <input type="hidden" asp-for="userId" />
    <input type="hidden" asp-for="appliedTime"/>


    <div class="form-group">
        <label asp-for="companyName"></label>
        <input asp-for="companyName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="role"></label>
        <input asp-for="role" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="jobSummary"></label>
        <textarea asp-for="jobSummary" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="applicationStatus"></label>
        <select asp-for="applicationStatus" asp-items="Html.GetEnumSelectList<ApplicationStatus>()" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="appliedVia"></label>
        <select asp-for="appliedVia" asp-items="Html.GetEnumSelectList<AppliedVia>()" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="notes"></label>
        <textarea asp-for="notes" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
